<p>Class:  USC Viterbi Data Analytics Bootcamp</p>
<p>Team:  Analyticus (aka Team 5)</p>
<p>Module:  merge_plot_data.py<p>
<p>Input 1:  CDC Influenza-Like-Illness Json File</p>
<p>Input 2:  HHS Vaccination Json File.</p>
<p>Output:  plot_state.json
<p>Description:
<ul>
<li>Load pandas.DataFrame from cdc_state.json file.</li>
<li>Load dict from hhs_state.json file</li>
<li>Loop through dict, updating dataframe with vaccination rates.
<li>Format json string by looping through the DataFrame</li>
<li>Write json string to plot_state.json</li>
</ul>

In [4]:
# Import dependances.
import json
import pandas as pd
import numpy as np

In [5]:
# Load CDC dataframe.
df_cdc = pd.read_json('data/cdc_state_5_years.json')

In [6]:
df_cdc.head()

      flu_cases  flu_percent    state  week  year
0           238     1.301613  Alabama     1  2012
1            27     2.705411   Alaska     1  2012
10          201     3.577149   Hawaii     1  2012
100         265     1.449275  Alabama     3  2012
1000        393     2.149303  Alabama    21  2012

In [7]:
# Sort by columns year, week, and state.
df_cdc = df_cdc.sort_values(by=['year', 'state', 'week'])

In [8]:
df_cdc.head()

     flu_cases  flu_percent    state  week  year
0          238     1.301613  Alabama     1  2012
50         288     1.575062  Alabama     2  2012
100        265     1.449275  Alabama     3  2012
150        261     1.427400  Alabama     4  2012
200        275     1.503965  Alabama     5  2012

In [9]:
# Load HHS dataframe.
df_hhs = pd.read_json('data/hhs_state_5_years.json')

In [ ]:
# Reduce columns to those that are needed.
df_hhs = df_hhs.filter(['count','name','percentage', 'week'], axis=1)
# df_hhs.head()

In [10]:
df_hhs.head()

         state  vac_pct_week  vac_percent  vaccinations  week  year
0       Alaska      0.088162     0.088162         49908     1  2012
1       Alaska      0.258476     0.346638         49908     2  2012
10      Alaska      2.580700    24.791600         49908    11  2012
100    Alabama      0.000000    47.894500        544894    49  2012
1000  Maryland      2.527000    43.554400        554052    13  2012

In [11]:
# Merge with outer join the HHS and CDC dataframes.
df1 = pd.merge(df_cdc, df_hhs, how='outer', on=['year', 'state', 'week'])
df1 = df1.sort_values(by=['year', 'state', 'week'])
df1.fillna(0, inplace=True)
# result

In [12]:
df1.head()

,flu_cases,flu_percent,state,week,year,vac_pct_week,vac_percent,vaccinations
0,238,1.301613,Alabama,1,2012,0.116353,0.116353,544894
1,288,1.575062,Alabama,2,2012,0.351628,0.467981,544894
2,265,1.449275,Alabama,3,2012,0.680499,1.148480,544894
3,261,1.427400,Alabama,4,2012,1.472030,2.620510,544894
4,275,1.503965,Alabama,5,2012,2.365230,4.985740,544894

In [13]:
# Write the merged datafram to the json file.
df1.to_json('data/plot_state_5_years.json')

In [14]:
# Sample code to access the json file.
df2 = pd.read_json('data/plot_state_5_years.json')

In [15]:
# Sample code to access the json file.
df3 = df2.sort_values(by=['year', 'state', 'week'])
df3.head()

,flu_cases,flu_percent,state,vac_pct_week,vac_percent,vaccinations,week,year
0,238,1.301613,Alabama,0.116353,0.116353,544894,1,2012
1,288,1.575062,Alabama,0.351628,0.467981,544894,2,2012
2,265,1.449275,Alabama,0.680499,1.148480,544894,3,2012
3,261,1.427400,Alabama,1.472030,2.620510,544894,4,2012
4,275,1.503965,Alabama,2.365230,4.985740,544894,5,2012

In [16]:
# Sample code to access the json file.
df3

,flu_cases,flu_percent,state,vac_pct_week,vac_percent,vaccinations,week,year
0,238,1.301613,Alabama,0.116353,0.116353,544894,1,2012
1,288,1.575062,Alabama,0.351628,0.467981,544894,2,2012
2,265,1.449275,Alabama,0.680499,1.148480,544894,3,2012
3,261,1.427400,Alabama,1.472030,2.620510,544894,4,2012
4,275,1.503965,Alabama,2.365230,4.985740,544894,5,2012
5,335,1.832103,Alabama,3.456640,8.442380,544894,6,2012
6,482,2.636040,Alabama,4.233120,12.675500,544894,7,2012
7,647,3.538419,Alabama,5.658300,18.333800,544894,8,2012
8,916,5.009571,Alabama,5.314300,23.648100,544894,9,2012
9,1480,8.094066,Alabama,4.807300,28.455400,544894,10,2012
10,1595,8.722997,Alabama,3.860800,32.316200,544894,11,2012
11,1508,8.247197,Alabama,2.929000,35.245200,544894,12,2012
12,1263,6.907301,Alabama,2.380500,37.625700,544894,13,2012
13,867,4.741591,Alabama,1.947300,39.573000,544894,14,2012
14,1074,5.873667,Alabama,0.881100,40.454100,544894,15,2012
15,799,4.369702,Alabama,1.305000,41.759100,544894,16,2012
16,593,3.243095,Alabama,1.838000,43.597100,544894,17,2012
17,597,3.264971,Alabama,1.238400,44.835500,544894,18,2012
18,511,2.794640,Alabama,0.647700,45.483200,544894,19,2012
19,531,2.904020,Alabama,0.198200,45.681400,544894,20,2012
20,393,2.149303,Alabama,0.241500,45.922900,544894,21,2012
21,408,2.231337,Alabama,0.862900,46.785800,544894,22,2012
22,398,2.176648,Alabama,0.570000,47.355800,544894,23,2012
23,397,2.171179,Alabama,0.210900,47.566700,544894,24,2012
24,427,2.335247,Alabama,0.101500,47.668200,544894,25,2012
25,229,1.252393,Alabama,0.071200,47.739400,544894,26,2012
26,225,1.230517,Alabama,0.036100,47.775500,544894,27,2012
27,129,0.705496,Alabama,0.027700,47.803200,544894,28,2012
28,110,0.601586,Alabama,0.021100,47.824300,544894,29,2012
29,67,0.366421,Alabama,0.014000,47.838300,544894,30,2012
...,...,...,...,...,...,...,...,...
14270,271,6.352555,Wisconsin,0.210800,51.854200,563576,21,2017
14271,215,5.039850,Wisconsin,0.116800,51.971000,563576,22,2017
14272,232,5.438350,Wisconsin,0.042700,52.013700,563576,23,2017
14273,157,3.680263,Wisconsin,0.000000,52.013700,563576,24,2017
14274,41,0.961088,Wisconsin,0.000000,52.013700,563576,25,2017
14275,54,1.368128,Wyoming,0.019651,0.019651,86509,1,2017
14276,88,2.229541,Wyoming,0.045082,0.064733,86509,2,2017
14277,50,1.266785,Wyoming,0.127155,0.191888,86509,3,2017
14278,96,2.432227,Wyoming,0.342160,0.534048,86509,4,2017
14279,84,2.128199,Wyoming,0.734032,1.268080,86509,5,2017
14280,70,1.773499,Wyoming,1.144390,2.412470,86509,6,2017
14281,47,1.190778,Wyoming,1.905000,4.317470,86509,7,2017
14282,39,0.988092,Wyoming,3.546450,7.863920,86509,8,2017
14283,68,1.722827,Wyoming,7.238580,15.102500,86509,9,2017
14284,85,2.153534,Wyoming,6.394700,21.497200,86509,10,2017
14285,94,2.381556,Wyoming,6.323000,27.820200,86509,11,2017
14286,117,2.964277,Wyoming,3.896700,31.716900,86509,12,2017
14287,167,4.231062,Wyoming,2.597400,34.314300,86509,13,2017
14288,239,6.055232,Wyoming,2.087700,36.402000,86509,14,2017
14289,208,5.269825,Wyoming,1.597500,37.999500,86509,15,2017
14290,259,6.561946,Wyoming,0.704000,38.703500,86509,16,2017
14291,284,7.195338,Wyoming,0.952500,39.656000,86509,17,2017
14292,317,8.031416,Wyoming,0.731700,40.387700,86509,18,2017
14293,325,8.234102,Wyoming,0.677400,41.065100,86509,19,2017
14294,302,7.651381,Wyoming,0.439300,41.504400,86509,20,2017
14295,246,6.232582,Wyoming,0.198800,41.703200,86509,21,2017
14296,194,4.915125,Wyoming,0.120200,41.823400,86509,22,2017
14297,194,4.915125,Wyoming,0.131800,41.955200,86509,23,2017
14298,182,4.611097,Wyoming,0.001100,41.956300,86509,24,2017
14299,138,3.496326,Wyoming,0.000000,41.956300,86509,25,2017